@font-face {
  font-family: 'Freight-Neo';
  src: url('freight-neo-pro-bold.otf') format('truetype');
}

body {
    font-family: 'Freight-Neo';
    margin: 0;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    background-image: url(Assets/egilBG.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    margin: 0;
    min-height: 100%;
}

::selection {
  background: #757575;
  color: #000000;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
    background: linear-gradient(to left, #303030, #222222)
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px 30px;
}

.navbar h3 {
    margin: 5px;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar a:hover {
    background-color: #757575;
    border-radius: 10%;
}

.overskrift {
    padding: 60px;
}

.overskrift h1{
    font-size: 52px;
    margin: 0;
    text-shadow: 3px 3px 4px black;
}

.overskrift h2{
    font-size: 26px;
    text-shadow: 2px 2px 3px black;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

.socialsiconinstagram {
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialsiconyoutube {
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    width: 30px;
    height: 30px;
}

.kontaktmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kontaktoverskrift {
    display: flex;
    text-align: center;
    margin: 50px;
}

.linkbildecontainer {
    display: flex;
    flex-direction: row;
    gap: 220px;
    margin: 0;
}

.kontaktinformasjon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 431px;
    margin: 0 0 200px 100px;
    font-size: 20px;
}

.bilde img {
    margin: 0;
    width: 431px;
    height: 575px;
}
