@font-face {
  font-family: 'Freight-Neo';
  src: url('freight-neo-pro-bold.otf') format('truetype');
}

body {
    font-family: 'Freight-Neo';
    margin: 0;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    background-image: url(Assets/egilBG.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    margin: 0;
    min-height: 100%;
}

::selection {
  background: #757575;
  color: #000000;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
    background: linear-gradient(to left, #303030, #222222)
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px 30px;
}

.navbar h3 {
    margin: 5px;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: #FFFFFF;
    transition: transform 0.03s ease-in-out;
}

.navbar a:hover {
    background-color: #757575;
    border-radius: 10%;
    transform: scale(1.2);
}

.overskrift {
    padding: 60px;
}

.overskrift h1{
    font-size: 52px;
    margin: 0;
    text-shadow: 3px 3px 4px black;
}

.overskrift h2{
    font-size: 26px;
    text-shadow: 2px 2px 3px black;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

.socialsiconinstagram {
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialsiconyoutube {
    background-color: rgba(100, 100, 100, 0.25);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    width: 30px;
    height: 30px;
}

.kontaktmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kontaktoverskrift {
    display: flex;
    text-align: center;
    margin: 50px;
}

.linkbildecontainer {
    display: flex;
    flex-direction: row;
    gap: 220px;
    margin: 0;
}

.kontaktinformasjon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 431px;
    margin: 0 0 200px 100px;
    font-size: 20px;
}

.bilde img {
    margin: 0;
    width: 431px;
    height: 575px;
}

.arbeidcontainermain {
    display: flex;
    flex-direction: column;
}

.videofotocontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 75px;
    padding: 0 30px;
}

@media (max-width: 540px) {
  .videofotocontainer {
    flex-direction: column;
  }
}

.egilvideo a, .egilfoto a {
    border: 2px solid black;
}

.egilvideo img, .egilfoto img {
    max-width: 735px;
    max-height: 551px;
}

.egilvideolink, .egilfotolink {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.egilvideolink img, .egilfotolink img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.15s ease;
}

.egilvideolink .overlay, .egilfotolink .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.15s ease;
    text-align: center;
}

.overlay-text-video, .overlay-text-foto {
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.egilvideolink:hover .overlay, .egilfotolink:hover .overlay {
    background-color: rgb(255, 255, 255, 0.8);
    opacity: 1;
}

.egilvideolink:hover .overlay-text-video, .egilfotolink:hover .overlay-text-foto {
    opacity: 1;
}

.overskrift-video {
    text-align: center;
    margin: 75px 0 100px 0;
    font-size: 30px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 100px;
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 40px;
}

@media (max-width: 1001px) {
  .video-grid {
    grid-template-columns: 1fr;
    gap: 100px 0;
  }

  .video-item iframe {
    min-width: 300px;
  }
}

.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.video-item iframe {
    width: 80%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    border: none;
    min-width: 400px;
}

.video-item h3 {
    margin-bottom: 40px;
}

.video-item iframe:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}